@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: #ccc;
}

h2 {
  font-weight: 800;
  color: brown;
}

h3 {
  font-weight: 700;
  color: darkcyan;
}
